:root{
    background: hsl(0, 2%, 23%);
    color: rgb(253, 249, 249);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.homepage{
    width: 60%;
    height: 100vh;
    position: fixed;
    background: black;
    text-align: center;
    display: none;
    

}
#checkbox{
    display: none;
}
.HomeButton{
    border-bottom: 4px solid white;
    padding-bottom: 3px;
}

.subContainer{
    padding-top: 10px;
    text-align: center;
    font-size: 25px;
    list-style: none;
    

}
.subContainer li{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    padding-top: 35px;
    
}
.socialicons {
    margin-top: 40px;
    text-align: center;
    font-size: 30px;
    
    
}
.socialicons i{
    width:7%;
  
    border-radius: 50%;
    padding: 20px;
    background:grey;
    line-height: 20px;
    text-align: center;
    padding-left: 10px;
    
}
.socialicons label{
    position: relative;
    top: 20px;
    font-size: 19px;
    color: grey;
    
 

}
    

.Myname{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-top: 10px;
}
.Myname label{
    margin-left: 15px;
    border-bottom: 2px solid rgb(255, 255, 255);
    color:#d914ae;
    font-weight: bold;
    padding-bottom: 5px;
    font-size: 22px;   
}
.Myname i{
    font-size: 30px;
    color:#c40f9c;
    margin-left: 20px;
    border-bottom: 0px;
}
#menuicon{
    border-bottom: 0px;
}
.ABOUT{
    margin-left: 30px;
    margin-top: 70px;

}
.ABOUT label{
    margin-left: 22%;
    font-size: 20px;
    margin-top: 50%;
    
}
.ABOUT header{
    margin-left: 16%;
    margin-top: 15px;
    font-size: 25px;
    font-weight: bold;
}
.ABOUT p{
    margin-left: 19%;
    margin-top:25px;
    color:#d914ae;
    font-weight: bold;
    font-size: 22px;
}
.paragraph{
    margin-left: 13%;
    font-size: 25px;
    margin-top: 10%;
}
.Button{
    margin-left: 25%;
    margin-top: 18%;
 

}
.Button input{
    background:#d914ae ;
    min-width: 70%;
    height: 50px;
    border-radius: 25px;
    border-width: 0px;
    font-size: 20px;
    color: white;
}
.visitors{
    margin-top: 10%;
    font-size: 22px;
}
.visitors label{
    border-bottom: 2px solid white;
    padding-bottom: 5px;
    margin-left: 15px;
}
.visitors a{
    color:#d914ae;
    border-bottom: 3px solid;
    margin-left: 25%;
    font-weight: bold;
    
}
.process{
    margin-left: 10px;
    margin-top: 15%;
    margin-right: 9px;
}
.process label{
    padding-top: 30%;
    margin-left: 30%;
    color:#d914ae;
    font-size: 25px;

    
    
}
.process h1{
    margin-left: 25%;
    font-weight: bold;
    font-size: 40px;
}
.process p{
    font-size:25px ;
    margin-top: 60px;
    margin-left: 20px;
}
.work{
    margin-top: 30px;
}
.work label{
    font-size: 20px;
    font-weight: bold;
    color:#d914ae;
    margin-left: 30%;
}
.work h3{
    font-weight: bold;
    font-size: 30px;
    margin-left: 30%;
}
.Myservice{
width:80%;
height: 35vh;
background: rgb(76, 75, 75);
border-radius: 20px;
padding-top: 20px;
margin-left: 35px;


 
}
.myimage{
    margin-top: 20px;
    margin-left: 5%;


}
.myimage img{
    width: 90%;
    border: 2px solid #d914ae ;
    padding: 10px;
    border-radius: 5px;

}
.Myservice a{
    margin-left: 30px;
    font-size: 25px;
    border-bottom: 3px solid;
    padding-bottom: 10px;
    color:#5ac9a8;
}
   
.Myservice p{
    padding-top: 10px;
    font-size: 25px;
    margin-left: 20px;
    color: white;
}
.container{
    width: 80%;
    height: 35vh;
    background: rgb(76, 75, 75);
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 40px;
    padding-top: 20px;

    

}
.container label{
    margin-left: 10px;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 30px;
    border-bottom: 3px solid;
    padding-bottom: 5px;
    color:#5ac9a8;
}
.container p{
    font-size: 25px;
    margin-left: 20px;
}
.workprocess{
    margin-left: 20%;
    padding-top: 50px;
}
.workprocess label{
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    
    color:#b3078d ;
}
.workprocess h2{
    font-size: 30px;
    margin-left: 0px;
    font-weight: bold;
    padding-top: 0px;
}
.test{
    padding-top: 25px;
    width: 70%;
    height:35vh;
    background: rgb(76, 75, 75);
    margin-left: 12%;
    border-radius: 20px;
    padding-left: 20px;
    font-size: 25px;
}
.test a{
    margin-left: 1px;
    color: rgb(9, 93, 212);
    border-bottom: 2px solid;
    padding-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
}
.pictures{
    margin-left: 20%;
    padding-top: 40px;
}
.pictures label{
    font-size: 25px;
    
    color: #d914ae;
    font-weight: bold;
}
.pictures h2{
    font-size: 29px;
    margin-left: 0px;
    font-weight: bold;
    padding-top: 10px;
}
.imgages{
    width: 95%;
    height: 30vh;
    background: rgb(76, 75, 75);
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 2.5%;
    padding-top: 20px;

}
.imgages label{
    margin-left: 25%;
    font-size: 30px;
    color: #c72f5a;
    border-bottom: 4px solid white;
    padding-bottom: 7px;
    font-weight: bold;
}
.imgages i{
    margin-left: 7vh;
    font-size: 25px;
    padding-top: 40px;
}
.imgages h3{
    margin-left: 25%;
    font-size: 15px;
    padding-top: 15px;
}














